{% extends "tienda.html" %}

{% load static %}




 {% block nav %}
<nav class="navbar navbar-expand-lg fixed-top bg-dark" id="mainNav"> 
    <!-- la imagen de fondo está en ageny.css -->
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="{% url 'pres' %}"><i><img src="/static/st_i/img/cber-2.png" alt="" height="40px"></i>    
        <i style="color:#FFA82C;">energías renovables</i></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
         
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 't_prin' %}">BODEGA</a>
          </li>
          
          
          <li class="list-inline-item mt-2">
              <a class="text-white" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               
                <img src="/static/st_i/img/team/cber-t3.png" style="height: 35px;" -expanded="false"> 
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
               
                  
                   <div class="card mb-0" style="height: 240px; width: 200px; margin: 3px;">
                    <img src="/static/st_i/img/cber.png" class="w-100 img-thumbnail" style="height: 150px; width: 150px;">
                
                          
                    <div class="card-body m-0 p-0"> 
                        <h6 class="text-italik">grcl</h6>
                        <div class="btn btn-group btn-block">
                          <a href="/panel/" class="btn btn-outline-success form-control"><i class="fas fa-tree"></i></a>
                          <a href="/logout" class="btn btn-outline-danger"><i class="fas fa-lock"></i></a>             
                        </div>  
                      </div>   
                    </div>                             
                  
                </div>
            </li>

        </ul>
      </div>
    </div>

  </nav>
 {% endblock nav %}



{% block header %}
{% endblock header %}



{% block col_3 %}  
{% endblock col_3 %}



{% block col_9 %}
{% endblock col_9 %}

<!--
            <div class="container my-5">

            	<div class="col-12 left-sidebar">
            		<h2 class="">DETALLES DE PRODUCTO</h2>
	            	<hr>
            	</div>
            	
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#slider-carousel" data-slide-to="1"></li>
                                <li data-target="#slider-carousel" data-slide-to="2"></li>
                                <li data-target="#slider-carousel" data-slide-to="3"></li>                           
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active col-sm-12"><img src="{% static 'st_t/images/home/product4.png' %}" class="w-100 h-auto" alt=""/></div>
                                <div class="item col-sm-12"><img src="{% static 'st_t/images/home/product1.png' %}" class="w-100 h-auto" alt="" /></div>
                                <div class="item col-sm-12"><img src="{% static 'st_t/images/home/product2.png' %}" class="w-100 h-auto" alt="" /></div>
                                <div class="item col-sm-12"><img src="{% static 'st_t/images/home/product3.png' %}" class="w-100 h-auto" alt="" />
                                    <!--img src="st_t/images/home/pricing.png"  class="pricing" alt="" /-->
                                    <!--</div>
                            </div>
                            <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                            <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next"><i class="fa fa-angle-right"></i></a>
                        </div> 
                    </div>

                     <div class="col-2 col-md-1  px-1 py-1">
                        <p class="card my-1 mx-1" data-target="#slider-carousel" data-slide-to="0" class="active">
                            <img src="{% static 'st_t/images/home/product4.png' %}" alt="" class="w-100 h-auto"></p>
                        <p data-target="#slider-carousel" data-slide-to="1" class="card my-1 mx-1">
                            <img src="{% static 'st_t/images/home/product1.png' %}" alt="" class="w-100 h-auto"></p>
                        <p data-target="#slider-carousel" data-slide-to="2" class="card my-1 mx-1">
                            <img src="{% static 'st_t/images/home/product2.png' %}" alt="" class="w-100 h-auto"></p>
                        <p data-target="#slider-carousel" data-slide-to="3" class="card my-1 mx-1">
                            <img src="{% static 'st_t/images/home/product3.png' %}" alt="" class="w-100 h-auto"></p>
                    </div>

                    <div class="col-9 col-md-4">                    
                        <h1>¡Producto de muestra!</h1>
                        <h2>S/. 56</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque praesentium sequi, enim blanditiis dolorum repellat necessitatibus eum quis ratione quia, quae, quisquam corrupti ipsum sapiente! Facilis impedit error obcaecati, illum.</p>
                        <li>Mcdsavdavfa</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </li>
                        <h1 style="color:#F6DD0C;">★ ★ ★ ★ ☆</h1>

                        <a href="#" class="btn btn-outline-info mb-2"><i class="fa fa-shopping-cart"></i>  ¡Comprar!</a>
                        <a href="#" class="btn btn-outline-secondary mb-2"><i class="fa fa-shopping-cart"></i>  calificar</a>
                        <a href="#" class="btn btn-outline-warning mb-2"><i class="fa fa-shopping-cart"></i>  reportar</a>
                    </div>

                </div>


                <div class="col-12">
                	<hr>
                		<h1><small>Consultenos a través de nuestra asesora Malena +51 927 088 981 </small></h1>
                		<h1><small>O nosotros lo contactamos <a href="gmail.com"></a> cbrenovables@cber.com </small></h1>
                	<hr>
                </div>

            </div>


-->
{% block tienda %}
  

<section class="page-section">
  <div class="container">
    <div class="row my-4 py-3 border">

      <div class="col-12 col-sm-8">
        <h1>Mi cesto</h1>
        <hr>
        <table class="table w-100">
          <thead>
            <tr>
              <td>PRODUCTO</td>
              <td>MONTO</td>
              <td></td>
              <td>MAS</td>
            </tr>
          </thead>
          <tr><td>!Producto de prueba¡</td><td>2x27 54</td><td><img src="{% static 'st_t/images/home/product1.png' %}" alt="" height="60px" /></td>
            <td><a href="#"><span class="badge badge-success">+</span></a>. <a href="#"><span class="badge badge-danger">-</span></td></tr>
          <tr><td>!Producto de prueba¡</td><td>2x27 54</td><td><img src="{% static 'st_t/images/home/product2.png' %}" alt="" height="60px" /></td>
            <td><a href="#"><span class="badge badge-success">+</span></a>. <a href="#"><span class="badge badge-danger">-</span></a></td></tr>
          <tr><td>!Producto de prueba¡</td><td>2x27 54</td><td><img src="{% static 'st_t/images/home/product3.png' %}" alt="" height="60px" /></td>
            <td><a href="#"><span class="badge badge-success">+</span></a>. <a href="#"><span class="badge badge-danger">-</span></a></td></tr>
          <tr><td colspan="3"> <strong>TOTAL: S/. 1280.00</strong></td></tr>
        </table>
        <a href="#" class="btn btn-outline-success">PROCESAR COMPRA</a>
        <a href="#" class="btn btn-outline-warning">SIMULAR FACTURA</a>
        <a href="#" class="btn btn-outline-warning">CALCULAR ENVÍO</a>
      </div>

      <div class="col-12 col-sm-3 border">
        <h1>Preferencias</h1>
        <hr>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>        
      </div>
      
    </div>
  </div>
</section>

{% endblock tienda %}